body{margin-top:5px;background: white;}
.body-login{padding-top: 100px;background:  white}
.login{max-width: 300px;margin: auto;}
.error{max-width: 350px;margin: auto;}
.logo{margin:auto;display: block;padding-bottom: 10px;}

.logo-derecha{float: right}
	.logout{margin-left: 10px;}
.contenido{margin-top: 15px;overflow: hidden;}
.sidebar{border-right: solid 1px ;padding-right: 12px;color: #D2D2D2;}

.side{border-radius: 0.5em;min-height: 450px;background: #F9F9F9;padding-left: 15px;padding-right: 15px;padding-top: 10px;border: 1px solid;border-color: #D3D3D3;padding-bottom: 10px;overflow: auto;max-height: 1000px;}
.titulo{font-size: 20px;color: #C39131;background-color: #F2E193;padding: 5px;font-style: bold;margin-top: 5px;}
.cuerpo-modal{overflow: hidden;}
	.fila-modal{margin-bottom: 20px;}

.link_back{}